@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

:root {
  --bg-color: #f1f5f9;
  --btn-active: #a1a1aa;
  --btn-margin: 1em;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(15 23 42);
  color: white;
}

header h1 {
  font-family: "Roboto";
  transition: all 0.2s ease;
}

header h1:hover {
  opacity: 0.5;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 10vh);
  width: 100vw;
}

.panel {
  text-align: center;
  background-color: #a1a1aa;
  max-width: 400px;
  min-width: 200px;
}

.container > .btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--btn-margin);
  margin-bottom: 0;
  width: calc(100% - var(--btn-margin)*2);
  border: none;
  border-radius: 5px;
  height: 2em;
  transition: all 0.2s ease;
  font-family: "Roboto", sans-serif;
}

.container .btn-item:hover {
  background-color: #64748b;
}


.btn-item.active {
  background-color: #64748b;
}

.container h2 {
  display: flex;
  margin-top: 1em;
  justify-content: center;
}

.add-project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--btn-margin);
  margin-bottom: 0;
  width: calc(100% - var(--btn-margin)*2);
  border: none;
  border-radius: 5px;
  height: 2em;
  transition: all 0.2s ease;
  font-family: "Roboto", sans-serif;
}

.container .add-project:hover {
  background-color: #d9f99d;
}