@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

:root {
  --bg-color: #f1f5f9;
  --btn-active: #a1a1aa;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(15 23 42);
  color: white;
}

header h1 {
  font-family: "Roboto";
  transition: all 0.2s ease;
}

header h1:hover {
  opacity: 0.5;
}

#content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  min-height: calc(100vh - 10vh);
  width: 100vw;
}

.panel {
  background-color: #a1a1aa;
}