@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

:root {
  --bg-color: #f1f5f9;
  --btn-active: #a1a1aa;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  background-color: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

header h1 {
  font-family: "Roboto";
  transition: all 0.2s ease;
}

hr {
  border: none;
  height: 2px;
  background-color: black;
}

header h1:hover {
  opacity: 0.5;
}

.add {
  display: flex;
  border: 1px solid black;
  margin-left: 40vw;
  border-radius: 2px;
  transition: all 0.1s ease;
  background-color: #bbf7d0;
}

.add:active {
  background-color: var(--btn-active);
}

.forms {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

#form-sumbit {
  display: block;
  width: 30em;
  height: auto;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
}

#form-sumbit .container {
  margin: 1.5em;
}

input {
  width: 85%;
}

textarea {
  width: 100%;
}

.small-box {
  display: flex;
}
.small-box input {
  margin-right: 1em;
}